
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:blanchedalmond
    color #333;
}


section {
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px; 
    border: 1px solid #ddd; 
}

th {
    background-color: crimson;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: pink;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgb(54, 12, 19);
}

@media screen and (max-width: 600px) {
    table, tr, th, td {
        display: block;
        width: 100%;
    }

    th {
        text-align: right;
    }

    th, td {
        text-align: left;
        padding: 10px;
    }

    td {
        border-top: none;
    }
}
